body {
    background-color: #000000;;
    background-image: url('/images/about-me.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 75%;
    background-size: cover;
    color: #ffffff;
    backdrop-filter: brightness(80%);
    position: absolute;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2.4rem 2.4rem;
    width: 100%;
}

section {
    height: auto;
    padding: 0;
}