/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
body,
html {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  font-size: 1rem;
}

html {
  font-size: 100%;
}

:active button,
:hover button {
  background-color: #e6b900;
  box-shadow: none;
  color: #000000;
  cursor: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

::selection {
  background: #65c9ff;
  color: #fff;
}

a:hover,
span.fab:hover,
span.far:hover,
span.fas:hover {
  color: #65c9ff;
}

a,
img,
video {
  margin: 4% 0;
  padding: 4%;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 1px solid #ffcd00;
  border-radius: 2rem;
  color: #ffffff;
  padding: 0.5rem 2.5rem;
}

section {
  display: grid;
  margin: 4% 0;
  padding: 0;
}

section a,
video {
  justify-self: center;
}

/*--------------------------------------------------------------
  # The Typography
  --------------------------------------------------------------*/
@font-face {
  font-family: "Nunito Sans";
  src: url(/fonts/nunitosans-regular.ttf);
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: bold;
  src: url(/fonts/nunitosans-semibold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: lighter;
  src: url(/fonts/montserrat-light.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/nunitosans-regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url(/fonts/montserrat-bold.ttf);
}

button,
input,
label,
textarea {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  line-height: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 4% 0;
  padding: 0 4%;
}

h1 {
  font-size: calc(3.2rem + 1.6vw);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: calc(1rem + 0.6vw);
  font-weight: lighter;
}

h5 {
  font-size: calc(0.5rem + 0.4vw);
  font-weight: lighter;
}

p,
ol {
  font-size: calc(1rem + 0.4vw);
  font-weight: lighter;
}

/*--------------------------------------------------------------
  # The Atoms
  --------------------------------------------------------------*/
/* Styles the contact me icon section */
#contact-me ul {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  list-style: none;
}

/* Styles the buttons */
.primary {
  background-color: #ffcd00;
  box-shadow: rgba(213, 179, 46, 0.32) 0px 0px 24px 8px;
  color: #000000;
}

.secondary {
  background-color: #000000;
  box-shadow: rgba(49, 49, 49, 0.32) 0px 0px 24px 8px;
  color: #ffffff;
}

/* Styles the progress bar */
.progress {
  background-color: #000000;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.progress-container {
  background: #000000;
  height: 4px;
  width: 100%;
}

.progress-bar {
  background: #e6b900;
  height: 4px;
  width: 0%;
}

/* Styles the call to action div */
.cta {
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-column-start: 1;
  justify-content: start;
}

/* Styles the main container */
.page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 4%;
  width: 100%;
}

/* Styles the font awesome icons container */
span.fab,
span.far,
span.fas {
  color: #adacaf;
}

/*--------------------------------------------------------------
  # The Organisms
  --------------------------------------------------------------*/
/* Styles the hero */
#hero {
  align-items: flex-start;
  margin: 80px auto auto;
  min-height: calc(100% - 80px);
}

#hero h1 {
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 1;
}

#hero h2 {
  align-self: end;
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 1;
}

#hero h4 {
  grid-column-start: 1;
  grid-row-start: 2;
  z-index: 1;
}

#hero a {
  z-index: 1;
}

#hero #contact-me {
  display: none;
}

.hero-bg {
  left: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: 75%;
  opacity: 0.4;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styles the contact form */
button[type="submit"] {
  border-radius: 4px;
}

#contact {
  border-style: hidden;
  border-top: 1px solid #adacaf;
}

#contact h1 {
  width: 80%;
}

form {
  display: grid;
  grid-row-gap: 1rem;
  height: auto;
  margin: 4% auto;
  padding: 4%;
  width: 100%;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid #adacaf;
  border-radius: 4px;
  color: #adacaf;
  height: auto;
  padding: 0.5rem;
  outline: none;
  overflow: visible;
  resize: none;
  width: 100%;
}

input[type="text"]:focus-within,
input[type="email"]:focus-within,
textarea[name="message"]:focus-within {
  background-color: #ffffff;
  border: 1px solid #ffcd00;
  color: #000000;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Styles the footer section */
footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4%;
  margin: 4% 0;
  width: 100%;
}

footer span,
footer h5 {
  margin: 4% 0 0;
}

/* Styles the main navigation */
#main-nav {
  align-content: center;
  align-items: last baseline;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80px;
  left: 0;
  padding: 0 4%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8888;
}

#main-nav.is-hidden {
  transform: translateY(-300%);
  transition: 2s ease-out;
}

#main-nav.is-visible {
  transform: translateY(0%);
  transition: 0.8s ease-out;
}

#main-nav.filled {
  background-color: #000000;
}

#main-nav.transparent {
  background-color: transparent;
}

#main-nav .logo {
  padding: 0;
  width: 40px;
}

#menu-list {
  align-items: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  justify-items: center;
  list-style: none;
  padding: 0;
}

#menu-list .menu-item {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  text-decoration: none;
  transition: 0.4s;
}

/*--------------------------------------------------------------
  # The Home Page
  --------------------------------------------------------------*/
video.work-video {
  width: 40%;
}

/*--------------------------------------------------------------
  # The About Page
  --------------------------------------------------------------*/
#about-page #hero img {
  align-self: center;
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: center;
  width: 8rem;
  padding: 4%;
  z-index: 1;
}

#about-page #hero .cta {
  justify-content: center;
}

/*--------------------------------------------------------------
  # The Projects Page
  --------------------------------------------------------------*/
#project-nav {
  bottom: 2rem;
  position: fixed;
  right: 2rem;
}

#project-list {
  display: none;
}

.project video {
  max-width: 100%;
}

.project-example {
  justify-self: center;
}

.project ol {
  grid-column: 1;
  list-style-position: inside;
}

.project-example.user-flows {
  display: none;
}

.project-example.prototypes {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.summary-specs {
  padding: 4%;
  text-align: center;
  width: 100%;
}

.summary-actions ul {
  list-style: none;
}

.col3 {
  align-items: center;
  display: grid;
  grid-column-gap: 4%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
  width: 100%;
}

.project-example.user-flows img {
  display: none;
}

#sort-btn {
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

#discovery-research div {
  display: block;
}

/*--------------------------------------------------------------
  # The Media Queries
  --------------------------------------------------------------*/
@media screen and (min-width: 411px) {
  html {
    font-size: 112.5%;
  }
}

@media screen and (max-width: 1024px) {
  #close-btn {
    align-self: center;
    display: none;
    justify-content: flex-end;
  }

  #menu-btn {
    align-self: center;
    display: flex;
    justify-content: flex-end;
  }

  #menu-list {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul {
    margin: 2% 0;
    padding: 0 2%;
  }

  p {
    color: #f2f2f2;
  }

  a,
  img,
  video {
    margin: 2% 0;
    padding: 2%;
  }

  /* Styles the hero */
  #hero {
    align-content: space-evenly;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 80px);
  }

  #hero h4 {
    width: 90%;
  }

  /* Styles the contact form */
  #contact {
    align-items: center;
    grid-column-gap: 16%;
    grid-row-gap: 8%;
    grid-template-columns: 1fr 1fr;
  }

  #contact form {
    grid-column-start: 2;
    grid-row: 1 / span 3;
  }

  #contact-me ul {
    width: 80%;
  }

  /* Styles the home page */
  #hero #contact-me {
    align-self: center;
    display: block;
    grid-column-start: 2;
    grid-row-start: 3;
    z-index: 1;
  }

  #hero #contact-me ul {
    float: right;
  }

  .work-example {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .work-example h4 {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 88%;
  }

  .work-example a {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: auto;
  }

  .work-example video,
  .work-example img {
    grid-row: span 3 / 4;
  }

  /* Styles the about page */
  #about-page #hero {
    width: 80%;
  }

  #about-page #hero img {
    grid-row: span 3 / 4;
    grid-column-start: 2;
    padding: 0;
    width: auto;
  }

  #about-page #hero .cta {
    justify-content: center;
    width: 80%;
  }

  #about-content {
    margin: 4% auto;
    width: 80%;
  }

  #about-content h2 {
    width: 64%;
  }

  /* Styles the project pages */
  .project {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }

  .project h2,
  .project h3,
  .project a,
  .project h4,
  .project div,
  .project p,
  .project ol {
    grid-column: 1 / span 3;
  }

  .project p {
    width: 70%;
  }

  .project div {
    max-width: 50%;
  }

  .project-example.user-flows {
    display: block;
  }

  .summary-actions {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-example.col3 img {
    width: 70%;
  }

  .project-example.col3 h4 {
    grid-column: auto;
  }

  #discovery-research div {
    display: grid;
    max-width: 80%;
  }

  #discovery-research img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  /* Styles the atoms */
  #main-nav .menu-item {
    font-size: 1rem;
  }

  #main-nav ul {
    align-content: center;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 50%;
    justify-self: end;
  }

  #menu-btn {
    display: none;
  }

  #close-btn {
    display: none;
  }

  /* Styles the cursor */
  * {
    cursor: none !important;
  }

  .cursor-dot,
  .cursor-dot-outline {
    border-radius: 50%;
    left: 50%;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .cursor-dot {
    background-color: #e6b900;
    height: 12px;
    mix-blend-mode: difference;
    width: 12px;
    z-index: 9999;
  }

  .cursor-dot-outline {
    background-color: #ffffff;
    display: none;
    height: 16px;
    width: 16px;
    z-index: 9999;
  }
}

@media screen and (min-width: 1600px) {
  .page-container {
    width: 80%;
  }
}

@media screen and (min-width: 1900px) {
  .page-container {
    width: 70%;
  }
}

@media screen and (min-width: 2400px) {
  .page-container {
    width: 60%;
  }
}

@media screen and (min-width: 2800px) {
  .page-container {
    width: 50%;
  }
}
